<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://tgs-file.oss-cn-hangzhou.aliyuncs.com/syc/cd-%E4%B8%89%E5%8F%B6%E8%8D%89-20190510.ipa?Expires=1554894173&amp;OSSAccessKeyId=TMP.AQF8xoe4n_5nhSizE0im2CDfq79wZeGfEci2nzy_DvFk7rHxz4uM0FOKG_KDADAtAhRA2LM9E9hjkHPlXMxBIhXnsJK0fgIVAMcC6TqDLszY4GpkUCpN-ETwXr17&amp;Signature=LP5REyHKoOpvzm2Z%2ByPCr88rHCk%3D</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://tgs-file.oss-cn-hangzhou.aliyuncs.com/syc/logo-s.png?Expires=1554894466&amp;OSSAccessKeyId=TMP.AQF8xoe4n_5nhSizE0im2CDfq79wZeGfEci2nzy_DvFk7rHxz4uM0FOKG_KDADAtAhRA2LM9E9hjkHPlXMxBIhXnsJK0fgIVAMcC6TqDLszY4GpkUCpN-ETwXr17&amp;Signature=8NZAiQlGkaWy9ZppZXC17woQ5CA%3D</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://tgs-file.oss-cn-hangzhou.aliyuncs.com/syc/logo-l.png?Expires=1554894453&amp;OSSAccessKeyId=TMP.AQF8xoe4n_5nhSizE0im2CDfq79wZeGfEci2nzy_DvFk7rHxz4uM0FOKG_KDADAtAhRA2LM9E9hjkHPlXMxBIhXnsJK0fgIVAMcC6TqDLszY4GpkUCpN-ETwXr17&amp;Signature=3DWIMc6z5qCr%2BNq4v8X2c5fhlz4%3D</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.TradeTGS</string>
				<key>bundle-version</key>
				<string>1.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>App</string>
				<key>title</key>
				<string>三叶草</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
